<?xml version="1.0" encoding="UTF-8"?>
<!--mapper 파일 : DB 에 접속해서 실행할 쿼리문을 모아놓음 -> id 값을 부여 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentMapper">
    <select id="selectList" resultType="com.student.dto.StudentDTO">
        select * from STUDENT
    </select>
    <insert id="insert" parameterType="com.student.dto.StudentDTO">
        insert into STUDENT values (SEQ_STU.nextval,#{name},#{memo})
    </insert>
    <delete id="delete" parameterType="int">
        delete from STUDENT where no = #{no}
    </delete>
    <update id="update" parameterType="com.student.dto.StudentDTO">
        update STUDENT set MEMO = #{memo} where no = #{no}
    </update>
    <delete id="del" parameterType="int">
        delete from student where no in
        <foreach collection="array" separator="," open="(" close=")" item="no">
            #{no}
        </foreach>
    </delete>
</mapper>
